*{
    margin: 0;
    padding: 0;
    
}

.header{
    text-align: center;
    padding: 60px;
    padding-bottom: 250px;
    background-image: url(imagem/banner.png);
    
}

ul{
    text-align: center;
    padding: 30px;
    background-color: MidnightBlue;
    overflow: auto;
    
}

ul li{
    display: inline;
    padding: 15px;
}

ul a{
    text-decoration: none;
    text-decoration-style: none;
    font-size: 20px;
    color:rgb(255, 255, 255);
    font-style: italic;
    
}

.logo{
    max-width: 40px;
 }

 ul li :hover{
    background-color: black;
 }


 ul li :hover{
    background-color: black;
 }

 body{
    background-image: url(imagem/grade.webp);
 }



